<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Platform_Gui_Web_System</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li><!--
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>-->

                <li><span class="label">Cloud-Plattform-System</span></li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/xx']">
                        <span class='glyphicon glyphicon-xx'></span> Kunden
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/xx']">
                        <span class='glyphicon glyphicon-xx'></span> Benutzer
                    </a>
                </li>

                <li><span class="label">Kunden- und Mandanten-System</span></li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/client']">
                        <span class='glyphicon glyphicon-client'></span> Mandanten
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/apps']">
                        <span class='glyphicon glyphicon-apps'></span> APPs
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-store']">
                        <span class='glyphicon glyphicon-appstore'></span> APP-Store
                    </a>
                </li>



                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/page']">
                        <span class='glyphicon glyphicon-form'></span> Seiten
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/XXXXX']">
                        <span class='glyphicon glyphicon-form'></span> Daten-Konnektoren
                    </a>
                </li>
                 
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/XXXXX']">
                        <span class='glyphicon glyphicon-form'></span> Datenspeicher
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/XXXXX']">
                        <span class='glyphicon glyphicon-form'></span> Objekte
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/lists']">
                        <span class='glyphicon glyphicon-form'></span> Listen
                    </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/form']">
                        <span class='glyphicon glyphicon-form'></span> Formulare
                    </a>
                </li>


                <li><span class="label">Feinmetall Intranet</span></li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/veranstaltungen']">
                        <span class='glyphicon glyphicon-veranstaltungen'></span> Veranstaltungen verwalten
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profil']">
                        <span class='glyphicon glyphicon-form'></span> Profile verwalten
                    </a>
                </li>
                <li><span class="label">APP-Instanz</span></li>


                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/xx']">
                        <span class='glyphicon glyphicon-xx'></span> Benutzerverwaltung
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/xx']">
                        <span class='glyphicon glyphicon-xx'></span> Konfiguation
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
