<div style="padding: 5px;">
<h1>Feedback</h1>
Nachfolgend können Sie uns anonym ihr Feedback mitteilen.
<br /><br />
<form>
    <div class="form-group">
        <label for="topic">Thema</label>
        <input type="text" class="form-control" name="topic" />
    </div>
    <div  class="form-group">
        <label for="comment">Beschreibung</label><br/>
        <textarea name="comment" id="comment" rows="10" style="width: 100%;"></textarea>
    </div>
    
    <div class="form-group">    
        <button type="submit">Absenden</button>
    </div>
</form>
</div>