<div class="form-group"
     [formGroup]="group">
    <label>{{ config.display.label }}</label>
    <label [hidden]="!config.validation.required">*</label>

    <select [formControlName]="config.name" >
        <option value="">{{ config.display.placeholder }}</option>
        <option *ngFor="let option of config.options">
            {{ option }}
        </option>
    </select>

    <div *ngIf="showValidation" style="color: red; padding-left: 5px;">
        {{ config.display.label }} ist ein Pflichtfeld
    </div>
</div>