
<h1>Neue Veranstaltung</h1>



<form (ngSubmit)="submit(form)">

    <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" class="form-control"
               [(ngModel)]="event.eventName" name="eventName" required>
    </div>
    <div class="form-group">
        <label for="name">Veranstaltungsort *</label>
        <input type="text" class="form-control"
               [(ngModel)]="event.location" name="location" required>
    </div>
    <div class="form-group">
        <label for="name">Datum *</label><br />

      <p-calendar [(ngModel)]="event.eventDate" dateFormat="dd.mm.yy" [locale]="de" hourFormat="24" showTime="showTime" name="eventDate" required></p-calendar>

    </div>
    <div class="form-group">
        <label for="name">Beschreibung (Kurz) *</label>
        <input type="text" class="form-control"
               [(ngModel)]="event.descriptionShort" name="descriptionShort" required>
    </div>
    <div class="form-group">
        <label for="name">Beschreibung (Lang) *</label>

      <p-editor [(ngModel)]="event.descriptionLong" [style]="{'height':'320px'}" name="event.descriptionLong" required>
        <p-header>
          <div class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-link"></button>
            <button class="ql-align"></button>
            <button class="ql-list"></button>
            <button class="ql-clean"></button>
          </div>
        </p-header>
      </p-editor>

    </div>
    <button type="submit"
            class="btn btn-primary">
        Speichern
    </button>
</form>
