<h1>Formulare</h1>
<p>
    <button type="button" (click)="newForm()" class="btn btn-primary">Neu</button>

    <button type="button" (click)="readForms()" class="btn btn-primary">Aktualisieren</button>
</p>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>


Globale Suche <input #gb type="text" placeholder="Suchbegriff">
<br /><br />
<p-dataTable [value]="forms"
             [globalFilter]="gb"
             [rows]="20"
             [paginator]="true"
             [pageLinks]="5"
             [rowsPerPageOptions]="[10,20,30]"
             [responsive]="true"
             selectionMode="single"
             (onRowSelect)="onRowSelect($event)" #dt>

  <p-column field="formName" header="Formular" [sortable]="true" [filter]="true"></p-column>
  <p-column field="apiUrl" header="API" [sortable]="true" [filter]="true"></p-column>

  <p-column [style]="{'width':'105px'}">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="body" let-form="rowData">
      <button type="button" (click)="confirm(form.formId)"
              class="btn btn-primary">
        L&ouml;schen
      </button>
    </ng-template>
  </p-column>
</p-dataTable>
